.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding: 20px;
    
}

@media (max-width: 767px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 20px;
    }
}

.form__input {
    flex-grow: 1;
    padding: 10px;
    flex-grow: 1;
    font-size: 20px;
    border: 2px solid #dfdfdf;
    min-width: 200px;
}

.form__button {
    color: white;
    background-color: teal;
    border: none;
    padding: 10px;
    font-size: 20px; 
    flex-grow: 0;
}

.form__button:hover {
    cursor: pointer;
    background-color: rgb(0, 155, 155);
    
}