.list {
    padding-left: 0;
    list-style: none;
    padding: 20px;
}

.list__element {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgb(231, 230, 230);
    gap: 10px;
}

.list__item {
    word-break: break-word;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    width: 30px;
    height: 30px;
    color: white;
    background-color: green;
    border: none;
    text-align: center;
}

.list__button--remove {
    background-color: red;
}