.list__item {
    display: flex;
    flex-basis: 10px;
    justify-content: flex-start;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {

}

.list__button--right {
    display: grid;
    align-self: end
}

